body {
  background-image: url('../images/papertexture.jpg');
  padding: 0px;
  margin: 0px;
}

.inset {
  -webkit-clip-path: inset(60px 0px);
  clip-path: inset(60px 0px);
  margin-top: -60px;
  margin-bottom: -40px;
  width: 100%;
}

.basil {
  background-image: url('../images/basilclipped.jpg');
  height: 25%;
  width: 100%;
  margin-top: -15px;
}

.footer {
  background-image: url('../images/basil_foot.jpg');
  width: 100%;
  padding: 20px;
}

ul {
  list-style-type: none;
    text-align: center;
    /*margin: 10px;*/
}

li {
  display: inline-block;
  /*margin-top: 10px;*/
  padding: 0px 40px 0px 40px;
  font-size: 150%;
    color: white;
}

li a {
    color: white;
}

.addressFooter {
  /*float: right;*/
  color: white;
}

small {
  float: right;
  color: white;
}

.foodImages {
  width: 75%;
  margin: 20px;
}

.indexPict {
  margin: 20px;
}

.food {
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 0 auto;
}

h2 {
  background-color: rgba(0,0,0,0.6);
  display: inline;
  margin-top: 90px;
  margin-left: 20px;
  padding: 10px;
  font-size: 200%;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  position: absolute;
  text-align: center;
  width: 70%;
}

h2.indexIcon {
  background-color: rgba(0,0,0,0.6);
  display: inline;
  margin-top: 110px;
  margin-left: 20px;
  padding: 10px;
  font-size: 200%;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  position: absolute;
  text-align: center;
  width: 45%;
}

.social {

}

.twitter {
  width: 13%;
}

.linkedin {
  width: 70%;
}

/*h2:hover {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    display: inline;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    width: 440px;
    position: absolute;
    top: 120px;
    left: 20px;
}*/
